@using PokemonClient.Models

@{
	Layout = "_Layout";
}

<h1 id="title">Pokemon</h1>

<hr />
<ol>
	@foreach (Pokemon pokemon in Model)
	{
		<ul>
				<li>
					@Html.ActionLink($"#{@pokemon.PokemonId}: {@pokemon.Name}", "Details", "Pokemon", new { id = pokemon.PokemonId, version = @ApiHelper.ApiVersion })
				</li>
		</ul>
	}
</ol>

<hr />

<p>
	@Html.ActionLink("Home", "Index", "Home")
</p>