@{
	Layout = "_Layout";
}

<h1 id="title">Pokemon Client</h1>

<hr />

@using (Html.BeginForm())
{
	@Html.Label("API Version")
	<br>
	@Html.DropDownList("VersionList");
	<br>
	<input type="submit" value="Use version" class="btn btn-default" />
}